@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
	margin: 0;
	padding: 0;
	background: black;
	cursor: none;
}

html {
	scroll-behavior: smooth;
	cursor: none !important;
}

*,
*::before,
*::after {
  cursor: none !important;
}
